n8n/Get price history per products.json
{
  "name": "Get price history per products",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -2080,
        400
      ],
      "executeOnce": false,
      "notesInFlow": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1184,
        400
      ],
      "id": "1cd697f4-388e-49ac-9281-d4eb29b5284a",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -1856,
        400
      ],
      "id": "28d44b74-94b0-4bbf-9b9e-5302a1530b29",
      "name": "Remove unneeded items from parameter array [Limit]"
    },
    {
      "parameters": {
        "url": "=https://test-vercel-psi-eight.vercel.app/api/selectItem?all=true&storeId={{ $json.StoreID }}&recordDatetime={{ $json.recordDatetime }}&limit=500",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1632,
        400
      ],
      "id": "d5b48c14-00dc-44f1-9535-4854131dbd93",
      "name": "Get saved product list from NeonDB via API [HTTP Request]",
      "executeOnce": true
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "# Input = 1 item with \"data\": [220 products]\nproducts = _items[0]['json'].get('data', [])\n\n# Turn into 220 separate items (one product per item)\nreturn [{'json': product} for product in products]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1408,
        400
      ],
      "id": "d5c7825d-ecf3-448f-8f9e-ab386315f406",
      "name": "Data cleansing [Code in Python]"
    },
    {
      "parameters": {
        "url": "=https://www.hktvmall.com/hktv/zh/{{ $json.itemurl }}",
        "operation": "extractHtml",
        "useBrowser": "={{ false }}"
      },
      "type": "n8n-nodes-crawl-and-scrape.crawleeNode",
      "typeVersion": 1,
      "position": [
        -912,
        320
      ],
      "id": "633fa370-aa55-49f5-8c78-1ce9817921bc",
      "name": "Get token dedicated per product [Crawl and Scrape]"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6f72101f-1b9c-4056-b850-d55bb498946b",
              "name": "v_priceApiToken",
              "value": "={{ $json.data.html.match(/priceApiToken[^\\r\\n]*?['\"]([0-9a-f]{32})['\"]/i)?.[1] || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -688,
        320
      ],
      "id": "343fb376-5026-43e4-b49b-6aeed472abb6",
      "name": "Save token [Edit Fields]"
    },
    {
      "parameters": {
        "url": "=https://pricechart-api.hktvmall.com/ajax/sku/priceChart?skuCode={{ $('Data cleansing [Code in Python]').item.json.itemid }}&lang=ZH&userMembershipLevel=NORMAL&s={{ $('Save token [Edit Fields]').item.json.v_priceApiToken }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json, text/javascript, */*; q=0.01"
            },
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded; charset=UTF-8"
            },
            {
              "name": "Origin",
              "value": "https://www.hktvmall.com"
            },
            {
              "name": "Referer",
              "value": "={{ $('Get token dedicated per product [Crawl and Scrape]').item.json.data.url }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -240,
        320
      ],
      "id": "aebb9d33-dd44-4ba4-9329-9f86ed57ed4e",
      "name": "Query product price history [HTTP Request]"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "prices_array = _items[0][\"json\"][\"data\"]\n\n# Very simple string — but NOT valid JSON\nsimple_string = str(prices_array)\n\n# or more controlled\nsimple_string = '[' + ', '.join(str(d) for d in prices_array) + ']'\n\nreturn [{\n    \"json\": {\n        \"itemothers\": simple_string\n    }\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        320
      ],
      "id": "48db7e82-bece-43c4-b317-870c0eca1de4",
      "name": "Data cleansing [Code in Python]1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        192,
        432
      ],
      "id": "789ecc2d-2fb2-4db7-890e-b71d6a4c1e76",
      "name": "Save price history JSON string into THIS.item [Merge]"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e4cedc90-1ea3-4376-9e38-ff0c95dbdb6b",
              "name": "itemid",
              "value": "={{ $json.itemid }}",
              "type": "string"
            },
            {
              "id": "ac03d613-4023-48d7-8757-29b342e2b3ef",
              "name": "recorddatetime",
              "value": "={{ $json.recorddatetime_max }}",
              "type": "string"
            },
            {
              "id": "bcf914fa-924b-4d7b-86a5-9be321d4243e",
              "name": "itemothers",
              "value": "={{ $json.itemothers }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        464
      ],
      "id": "7189d774-b2a2-4dae-9ab0-2600e2975cd0",
      "name": "Map varaible and return results to loop [Edit Fields]"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://test-vercel-psi-eight.vercel.app/api/updateItem",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$input.all().map(i => i.json)}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -736,
        48
      ],
      "id": "ca9c2235-9a5d-4cd3-b1a5-4cc1a39a94e1",
      "name": "Batch update price history JSON to NeonDB [HTTP Request]",
      "executeOnce": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "54dR4mvQadumNzNP",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e74d8c51-63fa-4718-87ad-d105b9ea441f",
              "leftValue": "={{ $('Save token [Edit Fields]').item.json.v_priceApiToken }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -464,
        320
      ],
      "id": "5185f9d9-1d15-4efb-857e-3ef3ae634f3d",
      "name": "Is token null? [If]"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "66cfb1b1-c978-4c49-bebe-fdff158ad872",
              "leftValue": "={{ $json.itemid }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -944,
        48
      ],
      "id": "5941cc68-12e0-48c0-b1b0-a37dade5589b",
      "name": "Filter records without price history [Filter]"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "success": true,
          "message": "Inserted 223 item(s).",
          "insertedCount": 223,
          "failedCount": 0,
          "errors": [],
          "batchLimit": 500
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "v_CSRFToken": "5b1c7371-a14e-4316-a299-39399b6d423e",
          "v_currentPage": 0
        },
        "pairedItem": {
          "item": 1
        }
      },
      {
        "json": {
          "recordDatetime": "2026-02-23 23:07:16.359",
          "StoreID": "H0955001"
        },
        "pairedItem": {
          "item": 2
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Remove unneeded items from parameter array [Limit]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Filter records without price history [Filter]",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get token dedicated per product [Crawl and Scrape]",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save price history JSON string into THIS.item [Merge]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove unneeded items from parameter array [Limit]": {
      "main": [
        [
          {
            "node": "Get saved product list from NeonDB via API [HTTP Request]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get saved product list from NeonDB via API [HTTP Request]": {
      "main": [
        [
          {
            "node": "Data cleansing [Code in Python]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data cleansing [Code in Python]": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get token dedicated per product [Crawl and Scrape]": {
      "main": [
        [
          {
            "node": "Save token [Edit Fields]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save token [Edit Fields]": {
      "main": [
        [
          {
            "node": "Is token null? [If]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query product price history [HTTP Request]": {
      "main": [
        [
          {
            "node": "Data cleansing [Code in Python]1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data cleansing [Code in Python]1": {
      "main": [
        [
          {
            "node": "Save price history JSON string into THIS.item [Merge]",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Save price history JSON string into THIS.item [Merge]": {
      "main": [
        [
          {
            "node": "Map varaible and return results to loop [Edit Fields]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map varaible and return results to loop [Edit Fields]": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is token null? [If]": {
      "main": [
        [
          {
            "node": "Query product price history [HTTP Request]",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter records without price history [Filter]": {
      "main": [
        [
          {
            "node": "Batch update price history JSON to NeonDB [HTTP Request]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "ce09bd37-da63-451a-80a6-2154f3f9b3f3",
  "meta": {
    "instanceId": "c09e6c813798729efaffbbb5de0f63999438b9ccbb6a4e37c3915b9d44904c6d"
  },
  "id": "tWFnLm6HOJ6e9sEC",
  "tags": []
}